{% extends 'delayr/base.html' %}

{% block body_block %}
{% if welcome_message %}
<h2>{{ welcome_message }}</h2>
{% endif %}
{% if errmessage %}
<h4>{{ errmessage }}</h4>
{% endif %}


<form id="search_form" method="post" action="/delayr/">
<table>
{% csrf_token %}
{% for hidden in airlineform.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% for field in airlineform.visible_fields %}
    <tr><td align="right">{{ field.help_text }}</td><td>{{ field }}</th></tr>
{% endfor %}

{% for hidden in airportform.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% for field in airportform.visible_fields %}
    <tr><td align="right">{{ field.help_text }}</td><td>{{ field }}</th></tr>
{% endfor %}

{% for hidden in datetimeform.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% for field in datetimeform.visible_fields %}
    <tr><td align="right">{{ field.help_text }}</td><td>{{ field }}</th></tr>
{% endfor %}

</table>

<input type="submit" name="submit" value="Predict Delay">
</form>

{% endblock %}

{% block result_block %}
{% if string_prediction or all_time_prediction or all_date_prediction %}
<div class="container">
  <div class="jumbotron">
    <h3> Predicted Delays for Your Itinerary</h3><br>
    <table>
      <tr>
	{% if string_prediction %}
	<td><img class="img-responsive" src="/delayr/user_prediction_{{ string_prediction }}.jpg"></td>
	{% endif %}
	{% if all_time_prediction %}
	<td><img class="img-responsive" src="/delayr/all_time_prediction_{{ all_time_prediction }}.jpg"></td>
	{% endif %}
	{% if all_date_prediction %}
	<td><img class="img-responsive" src="/delayr/all_date_prediction_{{ all_date_prediction }}.jpg"></td>
	{% endif %}
      </tr>
    </table>
  </div>
  {% if other_option_prediction %}
  <div class="jumbotron">
    <h3>Similar Itineraries with the Best On-Time Predictions</h3>
    <u1 class="list-group">
    {% for test in other_option_prediction %}
    <li class="list-group-item">{{ test }}</li>
    {% endfor %}
    </u1>
  </div>
  {% endif %}
</div>
{% endif %}
{% endblock %}
