#menu {
  list-style: none;
  margin: 0;
}

#menu li {
  display: inline-block;
  width: 24%;
  height: 50px;
}

.li-content {
  width: 100%;
  height: 50px;
}

#container {
  max-width: 800px;
  width: 100%;
  min-width: 250px;
  margin: auto;
}
