body {
  padding: 5px;
}

h1 {
  font-size: 32px;
}

#content{
  margin-top: 3.5em;
}

div.input_prompt{
  width: 15px;
  color: transparent;
  display: none;
}

div.input.hbox{
  display: none;
}

div.text_cell_render ul li {
  font-size: 15px;
}

div.show-code-box{

}

div.code-toggle {
  display: inline-block;
  width: 40px;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}

.code-toggle-on {

}