<!DOCTYPE html>
{% load staticfiles %}
<html lang="eng">
    <head>
        <title>{% block title %}Rating project{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'static_pages/css/base.css' %}"/>
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <div id="page">
            <div id="container">
                <header>
                    <div id="header-title"></div>
                    <ul id="menu">
                        <li class="menu-item">
                            <a href="/"><div class="li-content">Home</div></a>
                        </li>
                        <li class="menu-item"><div class="li-content">Project</div></li>
                        <li class="menu-item">
                            <a href="rate"><div class="li-content">Demo</div></a>
                        </li>
                        <li class="menu-item"><div class="li-content">About</div></li>
                    </ul>
                </header>
                <div id="content">
                    {% block content %}
                        Project's homepage.
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% block scripts %}
    {% endblock %}
</html>